<div class="card text-white bg-primary" style="max-width: 20rem;">
    <h5 class="card-header">Total Ventas Telefonicas</h5>
    <div class="card-body ventas text-center">
      <h1 class="card-title m-0">{{totalVentas | formatoModeda}}</h1>
     
    </div>
  </div>
