<div class="modal-header bg-primary">
    <h4 class="modal-title">Listado Contactados</h4>
    <button type="button" class="close" (click)="cerrarModal()">
        <span>&times;</span>
    </button>

</div>
<div class=" mt-4 pl-4 pr-4">
    <h4 class="modal-title">{{vendedor.nombre}}</h4>
    <button class="btn btn-info" (click)="exportAsXLSX()">exportar a excel</button>
    <h4 class="modal-title">Llamadas contestadas</h4>

    <div class="card " class="mb-4">
        <div *ngIf="lstContestadas.length>0">

            <div class="card-body shadow p-3 mb-5 bg-white rounded">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Segundos</th>
                            <th scope="col">Comentario</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let llamada of lstContestadas; let i = index">

                        <tr class="table-light">
                            <th scope="row">{{llamada.rut}}</th>
                            <td>{{llamada.nombre}}</td>
                            <td>{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td>{{llamada.celular}}</td>
                            <td>{{llamada.segundos}}</td>
                            <td>{{llamada.comentario}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<div class=" mt-4 pl-4 pr-4">
    <h4 class="modal-title" id="modal-basic-title">Llamadas no contestadas</h4>

    <div class="card " class="mb-4">

        <div *ngIf="lstNoContestadas.length>0">

            <div class="card-body shadow p-3 mb-5 bg-white rounded">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Segundos</th>
                            <th scope="col">Comentario</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let llamada of lstNoContestadas; let j = index">

                        <tr class="table-light">
                            <th scope="row">{{llamada.rut}}</th>
                            <td>{{llamada.nombre}}</td>
                            <td>{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                            <td>{{llamada.celular}}</td>
                            <td>{{llamada.segundos}}</td>
                            <td>{{llamada.comentario}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>