<div class="mt-4" (window:resize)="onResize($event)">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h1>Resumen llamados vendedores</h1>
                <div class="row">
                    <div class="col-md-4">
                        <total-venta [totalVentas]="totalVentas"></total-venta>
                    </div>
                    <div class="col-md-4">
                        <total-llamadas titulo="Total LLamadas Contestadas" [totalLlamadas]="totalLlamadasC">
                        </total-llamadas>
                    </div>
                    <div class="col-md-4">
                        <total-llamadas titulo="Total LLamadas No Contestadas" [totalLlamadas]="totalLlamadasN">
                        </total-llamadas>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--   <div class="shadow p-3 mb-5 bg-white rounded">
        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
        <button type="button" class="btn btn-info" (click)="onFileChange()" >Cargar</button>
    </div> -->

    <div class="card " class="mb-4" *ngIf="innerWidth>1300">
        <div class="card-body shadow p-3 mb-5 bg-white rounded">
            <div class="row mb-4">
                <div class="col-md-3">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." [(ngModel)]="textoBuscar">
                </div>

           
                <div class="col-md-7 ">
                    <form class="form-inline"     
                    [formGroup]="formFechas"
                    (ngSubmit)="filtrarData()">
                        <div class="form-group hidden">
                          <div class="input-group">
                            <input name="datepicker"
                                   class="form-control"
                                   ngbDatepicker
                                   #datepicker="ngbDatepicker"
                                   [autoClose]="'outside'"
                                   (dateSelect)="onDateSelection($event)"
                                   [displayMonths]="2"
                                   [dayTemplate]="t"
                                   outsideDays="hidden"
                                   [startDate]="fromDate"
                                   >
                            <ng-template #t let-date let-focused="focused">
                              <span class="custom-day"
                                    [class.focused]="focused"
                                    [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <input #dpFromDate
                                   class="form-control" placeholder="yyyy-mm-dd"
                                   name="dpFromDate"
                                   [value]="formatter.format(fromDate)"
                                   formControlName="fechaInicio"
                                   (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                                    >
                            <div class="input-group-append">
                              <button class="btn btn-secondary calendar" (click)="datepicker.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ml-2">
                          <div class="input-group">
                            <input #dpToDate
                                   class="form-control" placeholder="yyyy-mm-dd"
                                   name="dpToDate"
                                   [value]="formatter.format(toDate)"
                                   formControlName="fechaTermino"
                                   (input)="toDate = validateInput(toDate, dpToDate.value)">
                            <div class="input-group-append">
                              <button class="btn btn-secondary calendar" (click)="datepicker.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ml-2">
                            <div class="input-group">
                              <div class="input-group-append">
                                <button class="btn btn-primary " type="submit" [disabled]="!formFechas.valid">Filtrar</button>
                              </div>
                            </div>
                          </div>
                      </form>
                </div>
                <div class="col-2 text-right">
                    <div ngbDropdown>
                        <button class="btn" ngbDropdownToggle>Exportar
                            Excel</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="exportarResumen()">Resumen Global</button>
                            <button ngbDropdownItem (click)="exportAsXLSX()">Tabla</button>

                        </div>
                    </div>

                </div>
               
            </div>
        
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th class="pointer" scope="col"
                            (click)="gerente?gerente=false:gerente=true;ordenarLista('subgerente',gerente)">Gerente Zona
                            <span *ngIf="gerente">&#8593;</span> <span *ngIf="!gerente">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="tienda?tienda=false:tienda=true;ordenarLista('tienda',tienda)">Tienda <span
                                *ngIf="tienda">&#8593;</span> <span *ngIf="!tienda">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="nombre?nombre=false:nombre=true;ordenarLista('nombre',nombre)">Vendedor <span
                                *ngIf="nombre">&#8593;</span> <span *ngIf="!nombre">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="clientes?clientes=false:clientes=true; ordenarLista('cantidadAsigandos',clientes)">Asignados
                            <span *ngIf="clientes">&#8593;</span> <span *ngIf="!clientes">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="contactados?contactados=false:contactados=true; ordenarLista('contactados',contactados)">
                            Contactados <span *ngIf="contactados">&#8593;</span> <span
                                *ngIf="!contactados">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="contactadosFallidos?contactadosFallidos=false:contactadosFallidos=true; ordenarLista('contactadosFallidos',contactadosFallidos)">
                            Intentos fallidos <span *ngIf="contactadosFallidos">&#8593;</span> <span
                                *ngIf="!contactadosFallidos">&#8595;</span></th>
                        <th class="pointer" scope="col"
                            (click)="minLlamadas?minLlamadas=false:minLlamadas=true; ordenarLista('totalVenta',minLlamadas)">
                            Total ventas<span *ngIf="minLlamadas">&#8593;</span> <span
                                *ngIf="!minLlamadas">&#8595;</span></th>
                    </tr>
                </thead>



                <tbody *ngIf="!lstVendedores">
                    <tr>
                        <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                            <ngx-ring-loader></ngx-ring-loader>
                        </td>

                    </tr>
                </tbody>
                <tbody
                    *ngFor="let vendedor of lstVendedores | filtro: textoBuscar: 'nombre':'rut':'subgerente':'tienda'">

                    <tr class="table-light  " (click)="detalleLlamadas(vendedor)" class="pointer">
                        <td class="scale-up-hor-left">{{vendedor.subgerente}}</td>
                        <td class="scale-up-hor-left">{{vendedor.tienda}}</td>
                        <td class="scale-up-hor-left">{{vendedor.nombre}}</td>
                        <td class="scale-up-hor-left">{{vendedor.cantidadAsigandos}}</td>
                        <td class="scale-up-hor-left">{{vendedor.contactados}}</td>
                        <td class="scale-up-hor-left">{{vendedor.contactadosFallidos}}</td>
                        <td class="scale-up-hor-left">{{vendedor.totalVenta |formatoModeda}} </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="container" *ngIf="innerWidth<420">
        <div class="row ">
            <div (click)="detalleLlamadas(vendedor)" class="card border-secondary mb-4 "
                *ngFor="let vendedor of lstVendedores | filtro: textoBuscar: 'nombre':'rut':'subgerente':'tienda'"
                style="width:100% !important">
                <div class="card-header bg-primary text-white font-weight-bold">{{vendedor.nombre}}</div>
                <div class="card-body shadow p-3  bg-white rounded">
                    <h4 class="card-title">Gerente Zona {{vendedor.subgerente}}</h4>
                    <div class="row">
                        <div class="col-md-2">
                            <label class=" mb-0">Tienda</label><br>
                            <label class=" font-weight-bold">{{vendedor.tienda}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Asignados</label><br>
                            <label class=" font-weight-bold">{{vendedor.contactados}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Intentos fallidos</label><br>
                            <label class=" font-weight-bold">{{vendedor.contactadosFallidos}}</label>
                        </div>
                        <div class="col-md-2">
                            <label class=" mb-0">Total duracion llamada</label><br>
                            <label class=" font-weight-bold">{{vendedor.minLlamadas}} seg.</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>